# Book settings
title                       : MulQuaBio  # The title of the book. Will be placed in the left navbar.
author                      : MulQuaBio collective!  # The author of the book
copyright                   : "2024"  # Copyright year to be placed in the footer
logo                        : images/logo.png  # A path to the book logo

repository:
  url: https://github.com/MulQuaBio/MQB

html:
  use_repository_button: true
  use_issues_button: true

bibtex_bibfiles:
    - references.bib # Path to .bib file(s)
    
sphinx:
  recursive_update: true
  config:
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    bibtex_reference_style: author_year  # Optional: citation style (author_year, numeric, etc.)

parse:
  myst_enable_extensions:
    - amsmath
    - dollarmath
    - html_image
    - linkify
    - colon_fence

execute:
  execute_notebooks: 'off' # toggle between 'off' and auto  to disable or enable execution of jupyter nbs during book building   
  allow_errors: true

exclude_patterns: [content.md, code/*, data/*, refs/*, sandbox/*, sols/*, results/*, tools/*, readings/*, lectures/*, notebooks/test/*]